* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    position: relative;
}

html, body {
    overflow: hidden;
    overflow-y: auto;
    width: 100vw;
    height: 100vh;
    background: rgba( 0, 0, 0, 0.75 );
}

body.pace-running {
    cursor: progress;
}

.query-result {
    position: absolute;
    left: 50%;
    transform: translateX( -50% );
}
@media (min-width: 200px) {
    .query-result { width: 200px }
}
@media (min-width: 400px) {
    .query-result { width: 400px }
}
@media (min-width: 600px) {
    .query-result { width: 600px }
}
@media (min-width: 800px) {
    .query-result { width: 800px }
}
@media (min-width: 1000px) {
    .query-result { width: 1000px }
}
@media (min-width: 1200px) {
    .query-result { width: 1200px }
}
@media (min-width: 1400px) {
    .query-result { width: 1400px }
}
@media (min-width: 1600px) {
    .query-result { width: 1600px }
}
@media (min-width: 1800px) {
    .query-result { width: 1800px }
}

/* Comic information box | start */
div.comic-information-box {
    width: calc( 128px + 64px );
    height: calc( 256px + 32px );
    float: left;
    overflow: hidden;
    color: rgba( 255, 255, 255, 1 );
    margin: 3px;
    border: solid rgba( 128, 128, 128, 0.75 ) 3px;
    transition-duration: 500ms;
}

div.comic-information-box:hover {
    z-index: 999;
    transform: translate( 4px, 4px );
    box-shadow: 0 0 16px white, 0 0 16px white;
}

div.comic-information-box:hover::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: rgba( 0, 0, 0, 0.75 );
    pointer-events: none;
}

div.comic-information-box > img.graphic {
    max-width: 100%;
    max-height: 100%;
    top: 50%;
    left: 50%;
    transform: translate( -50%, -50% );
}

div.comic-information-box > div.text {
    position: absolute;
    bottom: 0;
    width: 1000%;
    height: 3em;
    font-size: 1em;
    line-height: 3em;
    text-align: center;
    background: rgba( 0, 0, 0, 0.75 );
    display: flex;
}

div.comic-information-box > div.text > div.first-wrap {
    height: 100%;
    display: flex;
    animation: toLeft 5s linear infinite;
}

div.comic-information-box > div.text > div.first-wrap > div.second-wrap {
    height: 100%;
    display: flex;
    animation: toLeft 2.5s linear infinite;
    animation-play-state: paused;
}

div.comic-information-box:hover > div.text > div.first-wrap > div.second-wrap {
    animation-play-state: running;
}

div.comic-information-box > div.text > div.first-wrap > div.second-wrap > div {
    float: left;
    padding: 0 10px 0 10px;
}

@keyframes toLeft {
    0% { transform: translateX( 0 ); }
    100% { transform: translateX( -33.3% ); }
}
/* Comic information box | end /
/* Search box | start */
.search-panel {
    /*max-width: 414px;*/
    width: 100%;
    border: 3px solid #00B4CC;
    height: 26px;
    outline: none;
    color: #9DBFAF;
}

.search-panel > * {
    height: 20px;
    float: left;
}

.search-panel .search-select {
    width: 20px;
}

.search-panel .search-query {
    width: calc( 100% - 20px );
    padding: 5px;
}
.search-panel .search-query:focus {
    color: #00B4CC;
}

.search-panel .search-start {
    position: absolute;
    right: -1px;
    width: 20px;
    border: 1px solid #00B4CC;
    background: #00B4CC;
    text-align: center;
    color: #fff;
    cursor: pointer;
}
/* Search box | end */
.mode-selector {
    width: 100%;
    height: 64px;
    background: rgba( 0, 0, 0, 1 );
}
.mode-selector[data-mode] .mode-trigger {
    width: 100%;
    height: 32px;
    background: whitesmoke;
    text-align: center;
    line-height: 32px;
}
.mode-selector[data-mode] > div.modes,
.mode-selector[data-mode] > div.search-panel,
.mode-selector[data-mode=select] .mode-trigger {
    display: none;
}
.mode-selector[data-mode=select] {
    height: 100%;
    position: fixed;
    z-index: 99999;
    color: white;
}
.mode-selector[data-mode=select] > div.modes {
    top: 50%;
    left: 50%;
    transform: translate( -50%, -50% );
    position: absolute;
}
@media ( min-width: 600px ) {
    .mode-selector[data-mode=select] > div.modes {
        display: block;
    }
    .mode-selector[data-mode=select] > div.modes > div.separator {
        float: none;
    }
}
@media ( max-width: 600px ) {
    .mode-selector[data-mode=select] > div.modes {
        display: inline-flex;
    }
    .mode-selector[data-mode=select] > div.modes > div.separator {
        float: left;
    }
}
.mode-selector[data-mode=select] > div.modes > div.separator > div {
    border: white solid 4px;
    margin: 8px;
    float: left;
    width: 128px;
    height: 128px;
}
.mode-selector[data-mode=search] .search-panel {
    display: block;
}